@charset "UTF-8";

/**
* App
*/
@import '../../../../node_modules/foundation-grid/grid.scss';
@import '../../../../node_modules/csstyle/csstyle';
@import '../../../../node_modules/resetcss/reset.css';

/**
* Modules
*/
@import 'modules/Intro';

@include component(test-component) {

  color: #000;

  @include part(test-part) {
    background: #FFF;

    @include option(test-option) {
      margin: 5%;
    }

  }

  @include option(test-option-outer) {
    margin: 10%;
  }

}